.conteiner{
    stroke-width: 0%;
    
    
    }
    
    .contenedor{
    background-color: rgba(202, 28, 161, 0.521);
        padding: 35px;
    }
    header {
        background-color: #f34040;
        color: #fff;
        padding: 20px;
      }
      
      header h1 {
        margin: 0;
      }
    
.video{
  background-color: #f34040;
background-image: none;
ce

}